/* ====== Media Queries Size ====== */
$mq-sm-max-width: 767.98px;
$mq-md-min-width: 768px;
$mq-md-max-width: 1024px;
$mq-lg-min-width: 1025px;
$mq-lg-max-width: 1440px;
$mq-xl-min-width: 1441px;
$mq-xl-max-width: 1920px;