.icon {
    color: var(--primary-text);
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: var(--primary-element-color);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}