//---------------------------
//      Input screen
//---------------------------
.inputScreenContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;

  width: 100%;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .sendEmailImg {
      width: 350px;
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3vh;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .recoveryText {
        text-align: center;
        margin: 2vh 0;
      }

      input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
      }

      .submitButton {
        width: 100%;
        height: 50px;
        font-size: 1rem;
      }
    }

    .tryAnotherWay {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


//---------------------------
//      Confirmation screen
//---------------------------
.confirmationScreenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  p {
    text-align: center;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .sendEmailImg {
      max-width: 100px;
      height: auto;
      object-fit: fill;
    }
  }
}

@media (min-width: 481px) {
  .inputScreenContainer {
    width: 100%;
    min-height: 40vh;
    justify-items: center;

    .inputContainer {
      width: 80%;

      form {

        input[type="email"] {
          margin-bottom: 10px;
        }

      }

    }

    .tryAnotherWay {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .inputScreenContainer {
    grid-template-columns: .75fr .75fr;
    grid-template-rows: 1fr;
    width: 100%;

    .imgContainer {
      order: 1;
  
      .sendEmailImg {
        width: 600px;
        max-width: 100%;
        height: auto;
        object-fit: fill;
      }
    }

    .inputContainer {
      grid-template-rows: 1.75fr .25fr;
      justify-self: end;
      form {
        .submitButton {
          height: 60px;
        }
      }
    }
  }
}